body {
	margin: 0;
	padding: 0;
}

#header {
	position: absolute;
	top: 0;
	height: 75px;
	background-color: #333333;
	width: 100%;
}

#header-text {
	margin-top: 10px;
	color: white;
	text-align: center;
	font-size: 48px;
	letter-spacing: 8px;
}

#content {
	position: absolute;
	top: 75px;
	bottom: 0;
	width: 100%;
}

#map { 
	position: absolute; 
	top: 0; 
	bottom: 0;
	left: 0;
	width: 33%; 
}

#popover { 
	position: absolute; 
	top: 0;
	bottom: 0;
	right: 0;
	width: 64%;
	overflow: scroll;
}

#popoverTitle {
	font-size: 16px;
	text-align: center;

}

#chart1 {
	margin-top: 10px;
	margin-bottom: 40px;
}