<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset=utf-8 />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="{{ url_for('static', filename='d3.js') }}"></script>

		
	<style>
		/*styling for viz*/
		body {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.bar {
		  fill: steelblue;
		}

		.x.axis path {
		  display: none;
		}

	</style>
	

	<title>{% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>
	<div id='map'></div>
	<div id='popover'>
		<div id="popoverTitle"></div>
		<div id="slider" style="width: 600px;"></div>
		<div id ="chart"></div>
	</div>
	<div id="footer">
	{% block footer%}
	{% endblock%}
	</div>

	<script>
	var map = L.mapbox.map('map', 'chelseazhang.ih1g0ofb').setView([37.3, -120], 6);
	var reservoirLayer = L.mapbox.featureLayer().addTo(map);
	var dataUrl = "{{ url_for('reservoir_api', abv='ABV') }}"

	$(function() {
		// slider
		$(function() {    
			$("#slider").slider();})
		
		$("#slider").slider({
			slide: function (event, ui) {
			var selection = $("#slider").slider("value");
			console.log(selection);
				//position = index of csv
			//update chart with position index
			}
		});

		// update viz based on map selection
		var changePopover = function(abv) {
			$('#popoverTitle').html("<h2>" + reservoirs[abv] + "</h2>")
			$('#chart').empty();

			var margin = {top: 20, right: 20, bottom: 30, left: 40},
				width = 1000 - margin.left - margin.right,
				height = 400 - margin.top - margin.bottom;

			var x = d3.scale.ordinal()
				.rangeRoundBands([0, width], .1); //this will have to be fixed

			var y = d3.scale.linear()
				.rangeRound([height, 0]);

			var color = d3.scale.ordinal()
				.range(["#98abc5", "#8a89a6", "#7b6888"]);

			var xAxis = d3.svg.axis()
				.scale(x)
				.orient("bottom");

			var yAxis = d3.svg.axis()
				.scale(y)
				.orient("left")
				.tickFormat(d3.format(".2s"));

			var svg = d3.select("#chart").append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
			  .append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			var curDataUrl = dataUrl.replace('ABV', abv);
			d3.csv(curDataUrl, function(error, data) {
			  color.domain(d3.keys(data[0]).filter(function(key) {
				  return key !== "DATE" && key !== "OUTFLOW (CF)";
			  }));

			  data.forEach(function(d) {
				var y0 = 0;
				d.ages = color.domain().map( function(name) { return {
					name: name, 
					y0: y0,  //y beginning
					y1: y0 += +d[name] //y end
					}; }); //retuns an object with the state name, the value of the name years and the 				name years added up
				console.log(d.ages);
				d.total = d.ages[d.ages.length - 1].y1; 
			  });

			  data.sort(function(a, b) { return b.total - a.total; }); 

			  x.domain(data.map(function(d) { return d.DATE; }));
			  y.domain([0, d3.max(data, function(d) { return d.total; console.log(d.total); })]);

			  svg.append("g")
				  .attr("class", "x axis")
				  .attr("transform", "translate(0," + height + ")")
				  .call(xAxis);

			  svg.append("g")
				  .attr("class", "y axis")
				  .call(yAxis)
				.append("text")
				  .attr("transform", "rotate(-90)")
				  .attr("y", 6)
				  .attr("dy", ".71em")
				  .style("text-anchor", "end")
				  .text("#s");

			  var state = svg.selectAll(".state") //the function that actually generates the bars
				  .data(data)
				.enter().append("g")
				  .attr("class", "g")
				  .attr("transform", function(d) { return "translate(" + x(d.DATE) + ",0)"; });

			  state.selectAll("rect")
				  .data(function(d) { return d.ages; }) //calls the d.ages function above to generate an object with the necessary data
				.enter().append("rect")
				  .attr("width", x.rangeBand())
				  .attr("y", function(d) { return y(d.y1); })
				  .attr("height", function(d) { return y(d.y0) - y(d.y1); })
				  .style("fill", function(d) { return color(d.name); });

				
				
				
				
				
				
				
				
				
				//legend code
			  var legend = svg.selectAll(".legend")
				  .data(color.domain().slice().reverse())
				.enter().append("g")
				  .attr("class", "legend")
				  .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
				
			  legend.append("rect")
				  .attr("x", width - 18)
				  .attr("width", 18)
				  .attr("height", 18)
				  .style("fill", color);

			  legend.append("text")
				  .attr("x", width - 24)
				  .attr("y", 9)
				  .attr("dy", ".35em")
				  .style("text-anchor", "end")
				  .text(function(d) { return d; });

			});
		}

		// initialize map markers and reservoir array
		reservoirs = {};
		$.get('{{ url_for('reservoirs_api') }}', function(data) {
			var rows = data.split("\n");
			var features = [];
			for (var i = 1; i < rows.length; i++) {  // ignore header
				var row = rows[i].split(",");
				var abv = row[0];
				var title = row[1];
				reservoirs[abv] = title;
				var feature = {
					type: 'Feature',
			        properties: {
			        	abv: abv,
			            title: title,
			            'marker-color': '#f86767',
			            'marker-size': 'large',
			            'marker-symbol': 'star'
			        },
			        geometry: {
			            type: 'Point',
			            coordinates: [parseFloat(row[3]), parseFloat(row[2])]
			        }
				}
				features[features.length] = feature;
			}

			var geojson = {
				type: 'FeatureCollection',
				features: features
			};

			reservoirLayer.setGeoJSON(geojson);

			reservoirLayer.on('click', function(e) {
				changePopover(e.layer.feature.properties.abv)
			});

			// initialize popover to CMN
			changePopover('CMN');
		});
	});
	</script>
</body>
</html>