<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF8">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="{{ url_for('static', filename='d3.js') }}"></script>
	
		
	<style>

	body {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.bar {
		  fill: steelblue;
		}

		.x.axis path {
		  display: none;
		}

	</style>
	
    <title></title>
</head>
<body>
	
	<div id="slider" style="width: 675px;"></div>
	
	<script>

			$(function() {    
				$("#slider").slider();})
		

			$("#slider").slider({
				slide: function (event, ui) {
				var selection = $("#slider").slider("value");
				console.log(selection);
					//position = index of csv
				//update chart with position index
			}
		});
		
	</script>
	
	
	<div id ="chart"></div>
	
<script>
	
	var margin = {top: 20, right: 20, bottom: 30, left: 40},
		width = 960 - margin.left - margin.right,
		height = 500 - margin.top - margin.bottom;

	var x = d3.scale.ordinal()
		.rangeRoundBands([0, width], .1); //this will have to be fixed

	var y = d3.scale.linear()
		.rangeRound([height, 0]);

	var color = d3.scale.ordinal()
		.range(["#98abc5", "#8a89a6", "#7b6888"]);

	var xAxis = d3.svg.axis()
		.scale(x)
		.orient("bottom");

	var yAxis = d3.svg.axis()
		.scale(y)
		.orient("left")
		.tickFormat(d3.format(".2s"));

	var svg = d3.select("#chart").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	  .append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var dataUrl = "{{ url_for('reservoir_api', abv='SHA') }}"
	d3.csv(dataUrl, function(error, data) {
	  color.domain(d3.keys(data[0]).filter(function(key) {
		  return key !== "DATE" && key !== "OUTFLOW (CF)";
	  }));

	  data.forEach(function(d) {
		var y0 = 0;
		d.ages = color.domain().map( function(name) { return {
			name: name, 
			y0: y0,  //y beginning
			y1: y0 += +d[name] //y end
			}; }); //retuns an object with the state name, the value of the name years and the 				name years added up
		console.log(d.ages);
		d.total = d.ages[d.ages.length - 1].y1; 
	  });

	  data.sort(function(a, b) { return b.total - a.total; }); 

	  x.domain(data.map(function(d) { return d.DATE; }));
	  y.domain([0, d3.max(data, function(d) { return d.total; console.log(d.total); })]);

	  svg.append("g")
		  .attr("class", "x axis")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis);

	  svg.append("g")
		  .attr("class", "y axis")
		  .call(yAxis)
		.append("text")
		  .attr("transform", "rotate(-90)")
		  .attr("y", 6)
		  .attr("dy", ".71em")
		  .style("text-anchor", "end")
		  .text("#s");

	  var state = svg.selectAll(".state") //the function that actually generates the bars
		  .data(data)
		.enter().append("g")
		  .attr("class", "g")
		  .attr("transform", function(d) { return "translate(" + x(d.DATE) + ",0)"; });

	  state.selectAll("rect")
		  .data(function(d) { return d.ages; }) //calls the d.ages function above to generate an object with the necessary data
		.enter().append("rect")
		  .attr("width", x.rangeBand())
		  .attr("y", function(d) { return y(d.y1); })
		  .attr("height", function(d) { return y(d.y0) - y(d.y1); })
		  .style("fill", function(d) { return color(d.name); });

		
		
		
		
		
		
		
		
		
		//legend code
	  var legend = svg.selectAll(".legend")
		  .data(color.domain().slice().reverse())
		.enter().append("g")
		  .attr("class", "legend")
		  .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
		
	  legend.append("rect")
		  .attr("x", width - 18)
		  .attr("width", 18)
		  .attr("height", 18)
		  .style("fill", color);

	  legend.append("text")
		  .attr("x", width - 24)
		  .attr("y", 9)
		  .attr("dy", ".35em")
		  .style("text-anchor", "end")
		  .text(function(d) { return d; });

	});

</script>
	

</body>
</html>